<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to our football statictics page</h1>
  <p>by "football" we mean the one using foot to kick</p>
  <img src="http://c1.hoopchina.com.cn/uploads/star/event/images/141207/1f5f9d09c2771a0b76f459d69a56430b2139c77f.jpg">


<p><a href="rank">Rank of LaLiga</a></p>
<p><a href="topscorer">Top scorer of LaLiga</a></p>
<p><a href="match">Search for matches</a></p>
<p><a href="team">Search for team</a></p>
<p><a href="player">Player and Goals</a></p>

</body>


</html>

